html{
    padding: 1;
    scroll-behavior: smooth;
}

body{
    color: white;
    font-family:'Courier New', Courier, monospace;
    background: url(img/bg.jpg);
    background-size:cover; 
    transition: background-position 0.1s;
}

#highlight{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: radial-gradient(circle at 50% 50%, rgba(255,255,255,0.15), transparent 200px);
    z-index: 0;
}

ul{
    list-style: none;
}

ul img{
    padding: 0.5vw;
}

.social-imgs{
    display: flex; 
    justify-content: center;
    align-items: center;
}

.social-imgs li{
    border-radius: 15px;
}

.social-imgs li:hover{
    background-color: rgba(255,255,255,0.15);
}

#header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
    font-size:x-large;
}

#nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-right: 2vh;
}

#nav li{
    padding: 1vw;
    border-radius: 15px;
}

a{
    color: inherit;
    text-decoration: none;
}

#nav li:hover{
    background-color: rgba(255,255,255,0.15);
}

#nav{
    display: none;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 999;
}

#nav.sticky{
    display: block;
}

#about{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    min-height: 100vh;
    height: auto;
    z-index: 1;
}

h2{
    padding: 10vh;
    padding-bottom: 1vh;
}

#about p{
    padding: 2vh 25vw;
}

.imgs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vh;
    width: 60vw;
    margin: 2vh auto;
}

#about img{
    width: 10vh;
}

#projects{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 100vh;
    z-index: 1;
}

#contact{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 100vh;
    z-index: 1;
}