/* Larger Screens */
@media (min-width: 200em) and (max-width: 500em) {
  
html{
    padding: 1;
    scroll-behavior: smooth;
    color: white;
    font-family:"Alumni Sans SC", sans-serif;
}

body{
    background: url(img/bg.jpg);
    background-size: cover; 
    background-repeat: repeat;
    transition: background-position 0.1s;
}

img{
    max-width: 100%;
    height: auto;
}

#highlight{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: radial-gradient(circle at 10% 10%, rgba(255,255,255,0.15), transparent 200px);
    z-index: 0;
}

ul{
    list-style: none;
}

ul img{
    padding: 0.5vw;
}

.social-imgs{
    display: flex; 
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;
}

.social-imgs li{
    border-radius: 15px;
}

.social-imgs li:hover{
    background-color: rgba(255,255,255,0.15);
}

.social-imgs img{
    display: block;
    width: 30px;
    height: 30px;
    object-fit: contain;
}

#header, footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size:x-large;
}

#header{
    min-height: 100vh;
    height: auto;
}

#nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-right: 2vh;
}

#nav li{
    padding: 1vw;
    border-radius: 15px;
}

a{
    color: inherit;
    text-decoration: none;
}

#nav li:hover{
    background-color: rgba(255,255,255,0.15);
}

#nav{
    display: none;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 999;
}

#nav.sticky{
    display: block;
}

#about{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    min-height: 100vh;
    height: auto;
    z-index: 1;
}

h2{
    padding: 10vh;
    padding-bottom: 1vh;
}

#about p{
    padding: 2vh 25vw;
}

.imgs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vh;
    width: 60vw;
    margin: 2vh auto;
}

#about img{
    width: 10vh;
}

#projects{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    min-height: 100vh;
    height:auto;
    z-index: 1;
}

.project-cards{
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    margin: 1em;
    padding: 2em;
}

.project-cards h3{
    margin-left: 1em;
    padding-right: 5%;
}

.project-cards img{
    border: 0.5px solid white;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

#contact{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    min-height: 100vh;
    height:auto;
    z-index: 1;
    margin: 10%;
}

.contact-form {
    max-width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    background-color: #2a2a2a;
    border: none;
    padding: 1rem;
    color: white;
  }
  
  .contact-form input[type="submit"] {
    align-self: flex-end;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 2px solid #2a2a2a;
    cursor: pointer;
    padding: 0.5rem 0;
    transition: opacity 0.3s;
    font-family:"Alumni Sans SC", sans-serif;
  }
  
  .contact-form input[type="submit"]:hover {
    opacity: 0.8;
  }

  footer p{
    margin-top: 5em;
    font-size: 1rem;
  }
}

@media (min-width: 50em) and (max-width: 500em) {
  
html{
    padding: 1;
    scroll-behavior: smooth;
    color: white;
    font-family:"Alumni Sans SC", sans-serif;
}

body{
    background: url(img/bg.jpg);
    background-size: cover; 
    transition: background-position 0.1s;
}

#highlight{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: radial-gradient(circle at 10% 10%, rgba(255,255,255,0.15), transparent 200px);
    z-index: 0;
}

ul{
    list-style: none;
}

ul img{
    padding: 0.5vw;
}

.social-imgs{
    display: flex; 
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;
}

.social-imgs li{
    border-radius: 15px;
}

.social-imgs li:hover{
    background-color: rgba(255,255,255,0.15);
}

.social-imgs img{
    display: block;
    width: 50px;
    height: 50px;
    object-fit: contain;
}

#header, footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size:x-large;
}

#header{
    min-height: 100vh;
    height:auto;
}

#nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-right: 2vh;
}

#nav li{
    padding: 1vw;
    border-radius: 15px;
}

a{
    color: inherit;
    text-decoration: none;
}

#nav li:hover{
    background-color: rgba(255,255,255,0.15);
}

#nav{
    display: none;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 999;
}

#nav.sticky{
    display: block;
}

#about{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    min-height: 100vh;
    height: auto;
    z-index: 1;
}

h2{
    padding: 10vh;
    padding-bottom: 1vh;
}

#about p{
    padding: 2vh 25vw;
}

.imgs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vh;
    width: 60vw;
    margin: 2vh auto;
}

#about img{
    width: 10vh;
}

#projects{
    position: relative;
    display: grid;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    min-height: 100vh;
    height:auto;
    z-index: 1;
}

.project-cards-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    justify-items: center;
}

#projects h3{
    border-radius: 15px;
}

#projects h3:hover{
    background-color: rgba(255,255,255,0.15);
}

.project-cards{
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin: 1em;
    padding: 2em;
    overflow:hidden;
}

.project-cards h3{
    margin-left: 1em;
    padding-right: 5%;
}

.project-cards img{
    border: 0.5px solid white;
    border-radius: 20px;
    max-width: 90%;
    height: auto;
    object-fit: contain;
}

#contact{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    min-height: 100vh;
    height:auto;
    z-index: 1;
    margin: 10%;
}

.contact-form {
    max-width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    background-color: #2a2a2a;
    border: none;
    padding: 1rem;
    color: white;
  }
  
  .contact-form input[type="submit"] {
    align-self: flex-end;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 2px solid #2a2a2a;
    cursor: pointer;
    padding: 0.5rem 0;
    transition: opacity 0.3s;
  }
  
  .contact-form input[type="submit"]:hover {
    opacity: 0.8;
  }

  footer p{
    margin-top: 5em;
    font-size: 1rem;
  }
}


/* Smaller Screens */
@media (max-width: 200em){
  
    html{
        padding: 1;
        scroll-behavior: smooth;
        color: white;
        font-family:"Alumni Sans SC", sans-serif;
    }
    
    body{
        background: url(img/bg.jpg);
        background-size: cover; 
        transition: background-position 0.1s;
    }
    
    img{
        max-width: 100%;
        height: auto;
    }

    #highlight{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        pointer-events: none;
        background: radial-gradient(circle at 10% 10%, rgba(255,255,255,0.15), transparent 200px);
        z-index: 0;
    }
    
    ul{
        list-style: none;
    }
    
    ul img{
        padding: 0.5vw;
    }
    
    .social-imgs{
        display: flex; 
        justify-content: center;
        align-items: center;
        padding:0;
        margin:0;
    }
    
    .social-imgs li{
        border-radius: 15px;
    }
    
    .social-imgs li:hover{
        background-color: rgba(255,255,255,0.15);
    }
    
    .social-imgs img{
        display: block;
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
    
    #header, footer{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        font-size:x-large;
    }
    
    #header{
        min-height: 100vh;
        height:auto;
    }
    
    #nav ul{
        display: flex;
        justify-content: flex-end;
        list-style: none;
        padding-right: 2vh;
    }
    
    #nav li{
        padding: 1vw;
        border-radius: 15px;
    }
    
    a{
        color: inherit;
        text-decoration: none;
    }
    
    #nav li:hover{
        background-color: rgba(255,255,255,0.15);
    }
    
    #nav{
        display: none;
        position: fixed;
        top:0;
        width: 100%;
        z-index: 999;
    }
    
    #nav.sticky{
        display: block;
    }
    
    #about{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        min-height: 100vh;
        height: auto;
        z-index: 1;
    }
    
    h2{
        padding: 10vh;
        padding-bottom: 1vh;
    }
    
    #about p{
        padding: 2vh 25vw;
    }
    
    .imgs{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2vh;
        width: 60vw;
        margin: 2vh auto;
    }
    
    #about img{
        width: 10vh;
    }
    
    #projects{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        min-height: 100vh;
        height:auto;
        z-index: 1;
    }
    
    .project-cards{
        border: 1px solid white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 25vw;
        margin: 1em;
        padding: 2em;
    }

    #projects h3{
        border-radius: 15px;
    }

    #projects h3:hover{
        background-color: rgba(255,255,255,0.15);
    }
    
    .project-cards h3{
        margin-left: 1em;
        padding-right: 5%;
    }
    
    .project-cards img{
        border: 0.5px solid white;
        max-width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 20px;
    }
    
    #contact{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        min-height: 100vh;
        height:auto;
        z-index: 1;
        margin: 10%;
    }
    
    .contact-form {
        max-width: 50vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      
      .contact-form input[type="text"],
      .contact-form input[type="email"],
      .contact-form textarea {
        background-color: #2a2a2a;
        border: none;
        padding: 1rem;
        color: white;
      }
      
      .contact-form input[type="submit"] {
        align-self: flex-end;
        background: none;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 1rem;
        border-bottom: 2px solid #2a2a2a;
        cursor: pointer;
        padding: 0.5rem 0;
        transition: opacity 0.3s;
      }
      
      .contact-form input[type="submit"]:hover {
        opacity: 0.8;
      }
    
      footer p{
        margin-top: 5em;
        font-size: 1rem;
      }
    }